.manager-category table {
    width: 80%;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background-color: #fff;
    border-spacing: 0;
    margin: 25px auto;
}

.manager-category table th, .manager-category table td {
    border-bottom: 1px solid #ccd0d4;
    border-right: 1px solid #ccd0d4;
    padding: 8px;
}

.manager-category table tr {
    transition: 0.3s;
}

.manager-category table tbody tr:hover {
    background-color: #80808021;
}

.text-center {
    text-align: center;
}

.manager-category table tr a, .manager-category table tr .remove {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
    border: 1px solid transparent;
    height: 30px;
}

.manager-category table tr form {
    display: inline-block;
}

.add-book {
    text-align: right;
}

.manager-category table thead tr {
    background: #80808063;
}

.list-btn .back {
    background: green;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid gray;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
}

#login form .list-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input.hidden {
    display: none !important;
}

.box-image {
    border: 1px solid gray;
    flex: 0 1 49%;
    margin-bottom: 4px;
    position: relative;
    height: 100px;
}

.wrap-btn-delete {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    color: red;
    font-size: 19px;
    cursor: pointer;
}

.list-input-hidden-upload, .list-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100px;
}

.container {
    padding: 20px;
    min-height: calc(100vh - 160px);
}

form.form-search {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

form.form-search input, form.form-search select {
    height: 27px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid gray;
    padding: 5px;
    min-width: 200px;
    margin-bottom: 5px;
}

form.form-search button {
    height: 38px;
    padding: 5px;
    min-width: 70px;
}

form.form-search select {
    height: 39px;
    padding: 0;
    width: 212px;
}


@media only screen and (max-width: 768px) {
    .manager-category table {
        width: 1000px;
    }

    .manager-category .list-category {
        white-space: normal;
        overflow-x: scroll;
    }
}
@media only screen and (max-width: 480px) {
    #logo > a {
        width: 50px;
    }

    #edit-user form label, #create-book form label, #login form label, #register form label {
        display: block;
    }

    #login .login-btn input, #register .list-btn input {
        width: 100%;
    }

    .container {
        min-height: calc(100vh - 142px);
    }

}